<!DOCTYPE html>
head
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
  link(rel='stylesheet' href='styles.css')
  link(rel='stylesheet' href='codemirror.css')

body
  #app!= reactOutput
  script(src='assets/bundle.js')
