<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
  <link rel="stylesheet" href="styles.css"/>
  <link rel="stylesheet" href="codemirror.css"/>
  <link rel="stylesheet" href="react-toggle.css"/>
</head>
<body>
  <div id="root"></div>
  <script type="text/javascript">
    window.config = <%- JSON.stringify({ apiURL }) %>;
  </script>
  <script type="text/javascript" src="app.js"></script>
</body>
